/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, arial;

}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}

/*BLOGPOST*/
article.post {
  color: #333;
  line-height: 24px;
}

article.post h1,
article.post h2,
article.post h3,
article.post h4,
article.post h5,
article.post h6 {
}


.site-header a {
  font-size: 14px;
  color: #9f9f9f;
  text-decoration: none;
  text-transform: lowercase;
}

.site-header a:hover {
  color: #333;
}

article.post header {
  margin-top: 20px;
  color: #64C472;
}

article.post header .post-title {
  font-size: 2em;
  margin-top: 0;
}

article.post header .post-meta {
  margin: 0 0 5px 0;
  color: #999;
}

article.post .post-content pre,
article.post .post-content code {
  font-size: 14px;
  background-color: #f1f1f1;
}

article.post .post-content pre {
  padding: 5px 10px;
  overflow-x: auto;
}

article.post .post-content code {
  padding: 2px 5px;
}

article.post .post-content pre code {
  padding-right: 0;
  padding-left: 0;
}

article.post .post-content a,
article.post .post-content a:hover,
article.post .post-content a:visited {
  color: #64C472;
  text-decoration: none;
}

article.post .post-content a:hover {
  text-decoration: underline;
}


/*POSTLIST*/
ul.post-list {
  list-style: none;
  padding:0;
}

ul.post-list li {
  margin:0;
}

ul.post-list li .title h1 {
  font-size: 25px;
  margin-bottom: 3px;
}

ul.post-list li .title h1 a {
  text-decoration: none;
  color: #64C472;
  font-size: 25px;
}

ul.post-list li .title .post-meta {
  color: #999;
  font-size: 13px;
}

ul.post-list li .content {
  color: #333;
}

ul.post-list li .title h1 a:hover {
  text-decoration: underline;
  font-size: 25px;
}

/*HOME*/

.home .header {
  background: #64C472;
  text-align: center;
}

.home .header .site-title {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.home .header .site-info {
  margin-top: 3px;
  color: #fff;
  font-size: 13px;
  max-width: 300px;
  display: inline-block;
}

.home .header .site-top-image {
  text-align:center;
}

.home .header .img-rounded {
  border-radius: 50%;
}

.home .header .social-icons {
  text-align: center;
}

.home .header a.social-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  margin: 0px 10px 0px 0px;
}

.home .header a:hover.social-link {
   color: #1F3612;
}

/*ARCHIVE*/

.archive .post-list {
  color: #333;
}

.archive .post-list h2 {
  font-size: 20px;
}

.archive .post-list a.post-link {
  text-decoration: none;
  color: #64C472;
}

.archive .post-list a:hover.post-link {
  text-decoration: underline;
}

/*FOOTER*/
.site-footer {
  text-align: center;
  font-size: 12px;
  color: #888;
}
.site-footer a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
